*.pyc 
__pycache__/ 
db.sqlite3 
*.log 
*.pot 
*.pyc 
*.so 
*.pyo 
*.orig 
*.swp 
*~ 
*.bak 
*.tmp 
*.pyproj 
*.sln 
*.suo 
*.user 
*.htpasswd 
*.env 
myenv/ 
.env/ 
venv/ 
venv.bak/ 
staticfiles/ 
media/ 
